<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}SH Books{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}
    
</head>

<body>  
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("homepage") }}">SH Books</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style='position: static'>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Kategorie <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="categories">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul>
                                        <li><a href="{{ path("books", {'category' : '1'}) }}"><i class="fa fa-book"></i> Albumy</a></li>
                                        <li><a href="{{ path("books", {'category' : '2'}) }}"><i class="fa fa-book"></i> Biografie</a></li>
                                        <li><a href="{{ path("books", {'category' : '3'}) }}"><i class="fa fa-book"></i> Biznes, ekonomia, marketing</a></li>
                                        <li><a href="{{ path("books", {'category' : '4'}) }}"><i class="fa fa-book"></i> Dla dzieci</a></li>
                                        <li><a href="{{ path("books", {'category' : '5'}) }}"><i class="fa fa-book"></i> Dla młodzieży</a></li>
                                        <li><a href="{{ path("books", {'category' : '6'}) }}"><i class="fa fa-book"></i> Encyklopedie, leksykony</a></li>
                                        <li><a href="{{ path("books", {'category' : '7'}) }}"><i class="fa fa-book"></i> Fantastyka</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul>
                                        <li><a href="{{ path("books", {'category' : '8'}) }}"><i class="fa fa-book"></i> Filozofia</a></li>
                                        <li><a href="{{ path("books", {'category' : '9'}) }}"><i class="fa fa-book"></i> Historia</a></li>
                                        <li><a href="{{ path("books", {'category' : '10'}) }}"><i class="fa fa-book"></i> Informatyka</a></li>
                                        <li><a href="{{ path("books", {'category' : '11'}) }}"><i class="fa fa-book"></i> Językoznawstwo, język polski</a></li>
                                        <li><a href="{{ path("books", {'category' : '12'}) }}"><i class="fa fa-book"></i> Kalendarze</a></li>
                                        <li><a href="{{ path("books", {'category' : '13'}) }}"><i class="fa fa-book"></i> Komiks</a></li>
                                        <li><a href="{{ path("books", {'category' : '14'}) }}"><i class="fa fa-book"></i> Kuchnia i diety</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul>
                                        <li><a href="{{ path("books", {'category' : '15'}) }}"><i class="fa fa-book"></i> Literatura</a></li>
                                        <li><a href="{{ path("books", {'category' : '16'}) }}"><i class="fa fa-book"></i> Literatura faktu</a></li>
                                        <li><a href="{{ path("books", {'category' : '17'}) }}"><i class="fa fa-book"></i> Literatura obyczajowa</a></li>
                                        <li><a href="{{ path("books", {'category' : '18'}) }}"><i class="fa fa-book"></i> Nauka języków</a></li>
                                        <li><a href="{{ path("books", {'category' : '19'}) }}"><i class="fa fa-book"></i> Nauki ścisłe, medycyna</a></li>
                                        <li><a href="{{ path("books", {'category' : '20'}) }}"><i class="fa fa-book"></i> Podręczniki szkolne, edukacja</a></li>
                                        <li><a href="{{ path("books", {'category' : '21'}) }}"><i class="fa fa-book"></i> Poradniki</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul>
                                        <li><a href="{{ path("books", {'category' : '22'}) }}"><i class="fa fa-book"></i> Prawo</a></li>
                                        <li><a href="{{ path("books", {'category' : '23'}) }}"><i class="fa fa-book"></i> Psychologia i pedagogika</a></li>
                                        <li><a href="{{ path("books", {'category' : '24'}) }}"><i class="fa fa-book"></i> Religie i wyznania</a></li>
                                        <li><a href="{{ path("books", {'category' : '25'}) }}"><i class="fa fa-book"></i> Romans</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                
                {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>#}
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'} }) }}
                    {{ form_errors(form) }}
                    {{ form_label(form.searchField, null, {'label_attr': {'class': 'hidden'} }) }}
                        <div class="search-group">
                            {{ form_widget(form.searchField, {'attr': {'class': 'form-control input', 'placeholder' : 'Tytuł, autor lub słowo kluczowe'} }) }}
                            <button type="submit" id="search_form_searchButton" name="search_form[searchButton]" title="Szukaj" class="btn btn-success">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        {{ form_widget(form.searchButton, {'attr': {'class': 'hidden'} }) }}
                {{ form_end(form) }} 
                <li><a href="#">Zaloguj</a></li>
                <li><a href="#">Załóż konto</a></li>
                {#<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>#}
            </ul>
          </div>
        </div>
    </nav>
     
    
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    
    {% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>
