{% extends 'base.html.twig' %}

{% block container %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-12">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.searchField, null, {'label_attr': {'class': 'hidden'} }) }}
                                    {{ form_widget(form.searchField, {'attr': {'class': 'form-control input-sm'} }) }}
                                </div>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_widget(form.searchButton, {'attr': {'class': 'btn btn-success'} }) }} 
                            </div>
                        </div>
                    {{ form_end(form) }}
                    
                </div>
            </div>
                    
        </div>
    </div>
                    
    <div class="row">
        {% if books is empty %}
            <h3>Brak nowych książek</h3>
        {% else %}
            {% for book in books %}    
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>{{ book['name'] }}</p>
                            <p>{{ book['author'] }}</p>
                        </div>
                        <div class="panel-body">
                            <a href="#" target="_blank" title="{{ book['description'] }}">
                                <img src="{{ asset('images/') }}{{ booksImage[book['id']] }}" class="img-responsive books-img">
                            </a>
                        </div>
                        <div class="panel-footer">
                            {{ book['price'] }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}